@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@400;700&display=swap');

/*Menus*/

.menu-desktop{
    display: block !important;
}

.menu-mobile{
    display: none !important;
}

.footer-desktop{
    display: flex !important;
}

/* Backgrounds */

.bg-primary{
    background-color: #FEBC3D !important;
}

.bg-secondary{
    background-color: #46433F !important;
}

.bg-terciary{
    background-color: #A47823;
}

.bg-login{
    background: rgb(12,13,13);
    background: linear-gradient(0deg, rgba(12,13,13,1) 0%, rgba(63,66,70,1) 100%);
    background-repeat: no-repeat;
}

.bg-home{
    background-color: #FEBC3D;
}

/* Buttons */

.btn-primary{
    background-color: #46433F;
    border: #46433F;
}

.btn-primary:hover{
    background-color: #46433F;
}

/* Texts */

.text-primary{
    color:#FEBC3D !important;
}

.text-white{
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.188rem 0.188rem 0.125rem rgba(0, 0, 0, 0.40);
}

.text-bold{
    font-weight: bold;
}

/* Decorations */

.box-shadow{
    -webkit-box-shadow: 0.375rem 0.625rem 0.25rem -0.375rem rgba(0,0,0,0.3);
    -moz-box-shadow: 0.375rem 0.625rem 0.25rem -0.375rem rgba(0,0,0,0.3);
    box-shadow: 0.375rem 0.625rem 0.25rem -0.375rem rgba(0,0,0,0.3);
}

@media screen and (max-device-width: 800px) {

    .menu-desktop{
        display: none !important;
    }

    .menu-mobile{
        display: block !important;
    }

    .footer-desktop{
        display: none !important;
    }

}