        <footer class="mt-auto p-0">
            <nav>
                <div th:if="${id != null}" th:class="${rol == 'USER' || rol == 'ADMIN'} ? 'menu-mobile bg-menu-mobile py-3 px-3 fixed-bottom' : 'menu-mobile bg-home py-3 px-3 fixed-bottom'">

                    <ul class="d-flex align-items-center justify-content-between list-unstyled mb-0">

                        <li class="li-f">

                            <a class="text-center d-flex flex-column text-decoration-none text-white text-bold text-shadow-none" th:href="@{${rol == 'ADMIN_GARAGE' ? '/web/admin' : '/mobile/home'}}">

                                <i class="fa-solid fa-house icon-f"></i>

                               Inicio

                            </a>

                        </li>

                        <li class="li-f" th:if="${rol == 'USER' || rol == 'ADMIN'}">

                            <a th:href="@{/mobile/profile}" class=" text-center d-flex flex-column text-decoration-none text-white text-bold text-shadow-none" >

                                <i class="fa-solid fa-address-card icon-f"></i>

                                Perfil

                            </a>

                        </li>

                        <li class="li-f" th:if="${rol == 'USER' || rol == 'ADMIN'}">

                            <a href="#" class="text-center d-flex flex-column text-decoration-none text-white text-bold text-shadow-none">

                                <i class="fa-solid fa-list-check icon-f"></i>

                                Denuncias

                            </a>

                        </li>

                        <li class="li-f">

                            <div class="nav-item dropdown">

                                <a href="#" class="text-center d-flex flex-column text-decoration-none text-white text-bold text-shadow-none align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <i class="fa-solid fa-ellipsis icon-f"></i>

                                </a>

                                <ul th:class="${rol == 'USER' || rol == 'ADMIN'} ? 'dropdown-menu end-0 bg-windows' : 'dropdown-menu end-0 bg-home'" aria-labelledby="navbarDropdown">

                                    <li th:if="${rol == 'USER' || rol == 'ADMIN'}">

                                        <a class="dropdown-item text-white text-bold" th:href="@{/#}">Mis estacionamientos</a>

                                    </li>

                                    <li th:if="${rol == 'USER' || rol == 'ADMIN'}">

                                        <a class="dropdown-item text-white text-bold" th:href="@{/#}">Mis vehiculos</a>

                                    </li>

                                    <div class="dropdown-divider" th:if="${rol == 'USER' || rol == 'ADMIN'}"></div>

                                    <li>

                                        <a class="dropdown-item text-white text-bold" th:href="@{/logout}">Cerrar sesion</a>

                                    </li>

                                </ul>

                            </div>

                        </li>

                    </ul>

                </div>

                <div th:class="${id} ? 'd-flex flex-wrap justify-content-between align-items-center py-3 px-3 bg-windows footer-desktop'
                : 'd-flex flex-wrap justify-content-between align-items-center py-3 px-3 footer-desktop'">

                    <div class="col-md-6 d-flex align-items-center">

                        <span class="mb-md-0 text-white">© 2023 eParking, Argentina</span>

                    </div>

                    <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">

                        <li class="ms-3"><a class="text-white" th:href="@{/#}"><i class="fa-brands fa-twitter"></i></a></li>

                        <li class="ms-3"><a class="text-white" th:href="@{/#}"><i class="fa-brands fa-facebook-f"></i></a></li>

                        <li class="ms-3"><a class="text-white" th:href="@{/#}"><i class="fa-brands fa-instagram"></i></a></li>

                    </ul>

                </div>

            </nav>

        </footer>

    </div>

        <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js}"></script>

        <script th:src="@{https://kit.fontawesome.com/c0cf04e4bc.js}" crossorigin="anonymous"></script>

        <script th:inline="javascript">
            const userId = [[${id}]];

            if(userId != null){
                const client = new WebSocket("ws://localhost:8080/eparking/ws/notifications");

                client.onopen = () => {
                    client.send(userId);
                    console.log("Connected!");
                }

                client.onmessage = (event) => {
                    const message = event.data;
                    const notifications = JSON.parse(message);
                    var countNotif = document.getElementById("count-notif");
                    var lastNotif = document.getElementById("last-notification");
                    var countNotifMobile = document.getElementById("count-notif-mobile");
                    var lastNotifMobile = document.getElementById("last-notification-mobile");

                    countNotif.textContent = notifications.count;
                    countNotifMobile.textContent = notifications.count;

                    if(notifications.lastMessage !== ""){
                        lastNotif.textContent = notifications.lastMessage;
                        lastNotifMobile.textContent = notifications.lastMessage;
                    }
                };

                client.onerror = (err) => {
                    console.log("Error", err);
                }

                client.onclose = () => {
                    console.log("Sesión cerrada");
                }
            }
        </script>

    </body>

</html>