<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta th:charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" th:href="@{/img/logo/Logo2.png}" type="image/x-icon">
        <title>eParking</title>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body class="d-flex min-vh-100">
        <div th:class="${id} ? 'bg-home cover-container w-100 d-flex mx-auto flex-column' : 'bg-login cover-container w-100 d-flex mx-auto flex-column'">
            <header class="mb-auto">
                <nav th:if="${id != null}" class="menu-desktop">
                    <!--TODO: Menú-Desktop-->
                    <div class="">
                        <ul>
                            <li>
                                <img th:src="@{/img/logo/Logo2.png}" width="30rem">
                                <p th:text="${nickname}"></p>
                            </li>
                            <li>
                                <a href="#">
                                    Inicio
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Registros
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Denuncias
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Mi Cuenta
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
