<div th:replace="fragments/header.html"></div>

<main role="main" class="container-fluid m-f">

  <section class="mb-3">

    <article class="container text-white bg-windows mx-auto col-lg-8 p-2 my-3 rounded-4">

      <h1 class="titleView fs-3">Modificar Denuncia</h1>

      <div class="divContainer divContainerBorderBottom my-1">

        <div class="d-flex justify-content-between">

          <div class="d-flex align-items-center">

            <h4 class="fs-5">Numero de Denuncia: </h4>

            <p class="fs-5" th:text="${report.getId()}">

          </div>

          <div class="d-flex align-items-center">

            <h4 class="fs-5">Fecha: </h4>

            <p class="fs-5" th:text="${report.getCreatedAt()}">

          </div>

        </div>

        <div class="d-flex align-items-center">
          <h4 class="fs-5">Nombre del Garage: </h4>

          <p class="fs-5" th:text="${report.getParkingPlace().getName()}">
        </div>


        <h4 class="fs-5">Descripción de la denuncia</h4>

        <p class="fs-5" th:text="${report.getDescription()}">

      </div>

      <form action="#" th:action="@{/mobile/admin/edit-report}" method="post" th:object="${editReport}">

        <input th:field="*{id}" th:value="${report.getId()}" class="d-none">
        <input th:field="*{userId}" th:value="${report.getUser().getId()}" class="d-none">

        <div class="divContainer divContainerBorderBottom my-1">

          <label for="reportType" class="text-white text-bold mb-1">Seleccionar Tipo:</label>

          <select th:field="*{reportStatus}" id="reportType"
                  class="form-select my-1">

            <option value="ACCEPTED">Aceptado</option>

            <option value="REJECTED">Denegado</option>

          </select>

        </div>

        <div class="divContainer my-3">

          <button type="submit" class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5
                 fs-6 text-center btn-primary text-white text-bold">Actualizar</button>

        </div>

        <div>

          <p th:if="${error != null}" th:text="'Error ' + ${error}"></p>

        </div>
      </form>
    </article>


  </section>

</main>

<div th:replace="fragments/footer.html"></div>