<div th:replace="fragments/header.html"></div>

<main role="main" class="container-fluid m-f">

    <div class="bg-primary w-50 mx-auto m-5 px-3 py-4 rounded-4">
    <article class="w-85 mx-auto mb-3 px-2">
      <h2 class="titleView fs-2 py-4 divContainerBorderBottomBlack">Vehiculo: <span th:text="${vehicle.getModel()}"></span></h2>
      <!--<h3 class="">Cliente: <span th:text="${mobileUser.nickName}"></span></h3>-->
      <!--<h3 class="">Usuario: <span th:text="${mobileUser.name}"></span></h3>-->
      <h3 class="">Patente: <span th:text="${vehicle.getPatent()}"></span></h3>
      <h3 class="">Marca: <span th:text="${vehicle.getBrand()}"></span></h3>
      <h3 class="">Modelo: <span th:text="${vehicle.getModel()}"></span></h3>
      <h3 class="">Color: <span th:text="${vehicle.getColor()}"></span></h3>

    </article>

    <section class="w-50 mx-auto d-flex justify-content-around mb-3">
      <a class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5
            fs-6 text-center btn-red text-white" th:href="@{/web/admin/egress(patent=${vehicle.getPatent()})}">Retirar
      </a>
      <button class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5
            fs-6 text-center btn-green text-white">Volver
      </button>
    </section>
    </div>
  </main>
<div th:replace="fragments/footer.html"></div>