<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main>

        <section>
            <div>
                <label for="patent">Ingresar patente:</label>
                <input id="patent" >
                <button>Check</button>
            </div>
        </section>

        <section>
            <div>
                <label for="brand">Marca:</label>
                <input id="brand" >

                <label for="model">Modelo:</label>
                <input id="model" >

                <label for="color">Color:</label>
                <input id="color" >
            </div>
        </section>

        <section>
            <label for="userName">Nombre del Usuario:</label>
            <input id="userName" >

            <label for="userEmail">Email:</label>
            <input id="userEmail" >
        </section>

        <section>
            <button>Ingresar</button>
        </section>
    </main>

</body>
</html>