<div th:replace="fragments/header.html"></div>

<main role="main" class="container-fluid m-f">
    <section class="container text-white bg-home mx-auto col-lg-4 p-4 my-2 rounded-4 box-shadow">
        <article>
            <h2 class="fs-4 py-2 text-center">Vehiculo: <span class="text-gray text-bold text-shadow-none fs-4" th:text="${vehicle.getModel()}"></span></h2>
            <hr class="border-terciary border-3">
            <!--<p class="">Cliente: <span th:text="${mobileUser.nickName}"></span></p>-->
            <!--<p class="">Usuario: <span th:text="${mobileUser.name}"></span></p>-->
            <div class="px-4 col-lg-8 mx-auto">
                <div class="d-flex justify-content-between">
                    <p class="fs-5">Patente: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${vehicle.getPatent()}"></span>
                </div>
                <div class="d-flex justify-content-between">
                <p class="fs-5">Marca: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${vehicle.getBrand()}"></span>
                </div>
                <div class="d-flex justify-content-between">
                <p class="fs-5">Modelo: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${vehicle.getModel()}"></span>
                </div>
                <div class="d-flex justify-content-between">
                <p class="fs-5">Color: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${vehicle.getColor()}"></span>
                </div>
            </div>


            <hr class="border-terciary border-3">

            <div class="px-4 col-lg-8 mx-auto">
                <div class="d-flex justify-content-between">
                    <p class="fs-5">Hora de llegada: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${parking.getDateArrival()}"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="fs-5">Cantidad de Hs Total: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${parking.getExpendHours()}"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="fs-5">Precio Total: </p><span class="text-gray text-bold text-shadow-none fs-5" th:text="${'$' + parking.getExpendPrice()}"></span>
                </div>
            </div>

            <div class="px-4 text-center mx-auto d-flex justify-content-around pt-3">
                <a class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5
                    fs-6 text-center btn-danger text-white" th:href="@{/web/admin/egress(patent=${vehicle.getPatent()})}">Retirar
                </a>
                <a class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-4
                    fs-6 text-center btn-primary text-white" th:href="@{/web/admin/}">Volver
                </a>
            </div>
        </article>
    </section>
  </main>
<div th:replace="fragments/footer.html"></div>