<div th:replace="fragments/header.html"></div>

<main role="main" class="m-f">

    <section>

        <article>

            <div class="px-2 mb-2">

                <div id="myMap" class="map"></div>

                <div id='infoBox'>
                    <div id='infoboxText'>
                        <b id='infoboxTitle'></b>
                        <a id='infoboxDescription'></a>
                    </div>
                </div>

            </div>

            <div class="mx-auto text-center">

                <a th:href="@{/mobile/parking}"
                   class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5 fs-6 text-center btn-primary mb-2">Registrar
                    Parking</a>

            </div>

        </article>

    </section>

</main>

<script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=initializeBingMap&key=AmmJKyxVf-6eaa2iHK_GT4J0wH58FQbLciGKGgSMYZWJSjeZ8x5Tc67SrzWnTLmQ&setLang=es'
        async defer></script>

<script th:inline="javascript">

    var credentials = "AmmJKyxVf-6eaa2iHK_GT4J0wH58FQbLciGKGgSMYZWJSjeZ8x5Tc67SrzWnTLmQ";
    var bingMap = null;
    const pinPointSale = [];

    function initializeBingMap() {
        if (navigator.geolocation) {
            const options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    GetMap(position);
                },
                function (error) {
                    alert(error);
                    GetMap(null);
                },
                options
            );
        } else {
            GetMap(null);
        }
    }

    function GetMap(position) {
        var lat = null;
        var long = null;

        if (position != null) {
            lat = position.coords.latitude;
            long = position.coords.longitude;
        } else {
            lat = -34.670560;
            long = -58.562780;
        }

        bingMap = new Microsoft.Maps.Map("#myMap", {
            credentials: credentials,
            center: new Microsoft.Maps.Location(lat, long),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 18
        });

        var center = bingMap.getCenter();

        const url = `https://dev.virtualearth.net/REST/v1/Locations/${lat},${long}?key=${credentials}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data.resourceSets.length > 0 && data.resourceSets[0].resources.length > 0) {
                    var address = data.resourceSets[0].resources[0].address.formattedAddress;
                    var personalPin = createPin(center, 'red', '¡Estoy aquí!', address);

                    Microsoft.Maps.Events.addHandler(personalPin, 'click', function (e) {
                        setInfoboxOnPin(personalPin);
                        personalPin.infobox.setOptions({visible: true})
                    });

                    bingMap.entities.push(personalPin);

                    createPinParkingPlaces();
                } else {
                    console.error('No se encontró ninguna dirección.');
                }
            })
            .catch(error => {
                console.error('Error en la solicitud: ', error);
            });
    }

    function createPinParkingPlaces() {
        var parkingPlaces = [[${parkingPlaces}]];
        var promises = [];

        for (let i = 0; i < parkingPlaces.length; i++) {
            const lat = parkingPlaces[i].geolocation.lat;
            const ln = parkingPlaces[i].geolocation.ln;
            const title = parkingPlaces[i].name;
            const url = `https://dev.virtualearth.net/REST/v1/Locations/${lat},${ln}?key=${credentials}`;

            promises.push(
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.resourceSets.length > 0 && data.resourceSets[0].resources.length > 0) {
                            const address = data.resourceSets[0].resources[0].address.formattedAddress;

                            const pin = createPin(new Microsoft.Maps.Location(lat, ln), 'blue', title, address);


                            Microsoft.Maps.Events.addHandler(pin, 'click', function () {
                                setInfoboxOnPin(pin);
                                pin.infobox.setOptions({visible: true})
                            });

                            pinPointSale.push(pin);
                        } else {
                            console.error('No se encontró ninguna dirección.');
                        }
                    })
                    .catch(error => {
                        console.error('Error en la solicitud: ', error);
                    })
            );
        }

        Promise.all(promises)
            .then(() => {
                bingMap.entities.push(pinPointSale);
            })
            .catch(error => {
                console.error('Error al cargar los datos: ', error);
            });
    }

    function createPin(location, color, title, description) {
        var pin = new Microsoft.Maps.Pushpin(location, {
            color: color,
            title: title,
        });
        pin.metadata = {description: description};
        return pin;
    }

    function setInfoboxOnPin(pin) {
        var infobox = pin.infobox;

        if (!infobox) {
            var center = pin.getLocation();
            var title = pin.getTitle();
            var description = pin.metadata.description;

            infobox = new Microsoft.Maps.Infobox(center, {
                title: title,
                description: description,
            });

            infobox.setMap(bingMap);
            infobox.setOptions({
                visible: false
            })
            pin.infobox = infobox;
        } else {
            var newCenter = pin.getLocation();
            var newTitle = pin.getTitle();
            var newDescription = pin.metadata.description;

            infobox.setLocation(newCenter);
            infobox.setOptions({
                title: newTitle,
                description: newDescription,
                visible: false
            });
        }
    }

</script>



<div th:replace="fragments/footer.html"></div>