<div th:replace="fragments/header.html"></div>

  <main role="main" class="m-f">

    <section>

      <article>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.36433397229!2d-58.565380123487344!3d-
          34.670753161042825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2
          sUniversidad%20Nacional%20de%20La%20Matanza!5e0!3m2!1ses-419!2sar!4v1694126930425!5m2!1ses-419!2sar"
                  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 px-3 py-1 map"></iframe>

        <div class="mx-auto text-center">

          <a th:href="@{/mobile/parking}" class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5 fs-6 text-center btn-primary">Registrar Parking</a>

        </div>

      </article>

    </section>

  </main>

<div th:replace="fragments/footer.html"></div>