<div th:replace="fragments/header.html"></div>

    <main role="main" class="container-fluid m-f">

        <section th:object="${garage}">

            <article class="container text-white bg-home mx-auto col-lg-8 p-2 my-3 rounded-4">
                <h2>Estacionamiento: <span th:textContent="${name}"></span></h2>
            </article>

            <article class="container text-white bg-home mx-auto col-lg-8 p-2 my-3 rounded-4">

            </article>

            <article class="container text-white bg-home mx-auto col-lg-8 p-2 my-3 rounded-4">

            </article>

        </section>

    </main>

<div th:replace="fragments/footer.html"></div>