<div th:replace="fragments/header.html"></div>

    <body class="bg-login min-vh-100 position-relative">

        <main role="main" class="container p-5">

            <section>

                <div class="mx-auto text-center">

                    <img th:src="@{/img/logo/Logo2.png}" width="200rem">

                    <h2 class="text-white fs-4 mt-3 text-bold">eParking: Encontrá, Estacioná,
                        Pagá, ¡Listo!</h2>

                </div>

                <article class = "container mx-auto col-sm-6 mt-3 text-white p-0">

                    <div id="loginbox" class="py-3 px-4 bg-primary rounded-5 box-shadow">

                        <form action="#" th:action="@{/validate-login}" method="POST" th:object="${datosLogin}">

                            <h3 class="form-signin-heading text-center bg-terciary rounded-4 py-2 fs-5 text-bold">¡Bienvenido!</h3>

                            <label for="email" class="text-white mt-1 fs-6 text-bold">Correo Electronico</label>

                            <input th:field="*{email}" id="email" type="email" class="form-control rounded-4 box-shadow" required/>

                            <label for="email" class="text-white mt-1 fs-6 text-bold">Contraseña</label>

                            <input th:field="*{password}" type="password" id="password" class="form-control rounded-4 box-shadow" required/>

                            <div class="text-center mt-4">

                                <button id="btn-login" class="btn btn-lg btn-primary btn-block text-center rounded-4
                                 mx-auto fs-6 box-shadow px-5 text-bold" Type="Submit">Iniciar Sesión</button>

                            </div>

                            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>

                        </form>
                    </div>
                    <p class="text-white text-center mt-2 fs-6">¿No tienes cuenta? Registrate <a th:href="@{new-user.html}" class="text-primary">aquí.</a></p>
                </article>

            </section>

        </main>

<div th:replace="fragments/footer.html"></div>