<div th:replace="fragments/header.html"></div>

<main role="main" class="container-fluid m-f text-center">

    <section class="justify-content-center">

        <article class="container text-white bg-windows col-lg-6 p-2 my-3 rounded-4">

            <div>

                <div class="px-3">

                    <div th:if="${parking.hasVehiclePictures()}">


                        <div class="justify-content-center">
                            <div class="my-2"><strong>Foto del Vehículo:</strong></div>
                            <img th:src="${vehiclePicture}" class="img-thumbnail" alt="Foto del Vehículo" style="width: 20rem; height: auto;">

                            <p class="my-2"><strong>Foto del Ticket:</strong></p>
                            <img th:src="${ticketPicture}" class="img-thumbnail" alt="Foto del Ticket" style="width: 20rem; height: auto;">
                        </div>

                    </div>

                </div>

                <div class="col-md-6 mx-auto">

                    <p th:if="${parking.name}" class="my-2"><strong>Nombre:</strong> <span th:text="${parking.getName()}" class="text-muted"></span></p>

                    <p class="my-2"><strong>Horario de Ingreso:</strong> <span th:text="${parking.getDateArrival()}" class="form-control rounded-4" style="background-color: #FEBC3D"></span></p>

                    <p class="my-2"><strong>Tipo de Parking:</strong> <span th:text="${parking.getParkingType()}" class="form-control rounded-4" style="background-color: #FEBC3D"></span></p>

                    <p id="direction" class="my-2"><strong>Dirección:</strong> <span id="geolocation" th:text="${parking.getGeolocation()}" class="form-control rounded-4" style="background-color: #FEBC3D"></span></p>

                    <div id="myMap" class="mapRegister"></div>

                </div>

            </div>

        </article>

    </section>

</main>



<script th:inline="javascript">
    var image = [[${vehiclePicture}]];
    console.log(image);

    var credentials = "AmmJKyxVf-6eaa2iHK_GT4J0wH58FQbLciGKGgSMYZWJSjeZ8x5Tc67SrzWnTLmQ";

    var geolocationElement = document.getElementById("geolocation");
    var directionElement = document.getElementById("direction");

    var geolocation = geolocationElement.textContent.split(',');

    var lat = geolocation[0];
    var ln = geolocation[1];

    const url = 'https://dev.virtualearth.net/REST/v1/Locations/' + lat + ',' + ln + '?key=' + credentials;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (data.resourceSets.length > 0 && data.resourceSets[0].resources.length > 0) {
                var formattedAddress = data.resourceSets[0].resources[0].address.formattedAddress;
                directionElement.textContent = "Dirección: " + formattedAddress;

            } else {
                console.error('No se encontró ninguna dirección.');
            }
        })
        .catch(error => {
            console.error('Error en la solicitud: ', error);
        });

</script>

<div th:replace="fragments/footer.html"></div>
