<div th:replace="fragments/header.html"></div>


<body class="bg-primary min-vh-100 position-relative" style="color:white;">
<main role="main" class="container p-5 bg-login w-75" style="height: 90vh;border-radius: 5px;margin-top:20px;">
    <h1 class="titleView">Registrar Parking</h1>
    <form th:action="@{/mobile/parking/register}" action="#" method="post" th:object="${parkingRegister}">
        <div class="divContainer divContainerBorderBottom">
            <label for="parkingType">Seleccionar Tipo:</label>
            <select th:field="*{parkingType}" id="parkingType" onchange="renderTicketImageForm()">
                <option value="STREET" selected>Vía Publica</option>
                <option value="GARAGE">Estacionamiento</option>
            </select>
        </div>
        <div class="divContainer divContainerBorderBottom">
            <label for="vehicle">Seleccionar Vehículo:</label>
            <select th:field="*{vehicle}" id="vehicle" th:each="vehicle : ${vehicleList}">
                <option th:value="${vehicle.patent}" th:text="${vehicle.brand + ' - ' + vehicle.patent}">
                    Marca - Patente
                </option>
            </select>
        </div>
        <div class="divContainer divContainerBorderBottom">
            <label for="vehiclePic">Foto del vehículo:</label>
            <input th:field="*{vehiclePic}" id="vehiclePic"  type="file" accept="image/jpeg">
        </div>
        <div id="typeGarage" style="display: none" class="divContainer divContainerBorderBottom">
            <label for="ticketPic">Foto de Ticket:</label>
            <input th:field="*{ticketPic}" id="ticketPic"  type="file" accept="image/jpeg">
        </div>
        <div id="geolocation" class="divContainer" style="margin-top: 10px; margin-bottom: 10px">
            <input th:field="*{lat}" id="lat" type="text" style="display: none">
            <input th:field="*{ln}" id="ln"  type="text" style="display: none">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.36433397229!2d-58.565380123487344!3d-34.670753161042825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2sUniversidad%20Nacional%20de%20La%20Matanza!5e0!3m2!1ses-419!2sar!4v1694126930425!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="divContainer" style="marign-top:5px;margin-bottom:5px;width:40%;padding:10px;">
            <input type="submit" value="Registrar" class="buttons" style="border:none;padding:5px;">
        </div>
        <div>
            <p th:if="${error != null}"  th:text="'Error ' + ${error}"></p>
        </div>
    </form>
    <script>
        function renderTicketImageForm() {
            let parking = document.getElementById("parkingType").value;
            let div = document.getElementById("typeGarage");

            if (parking === "GARAGE") {
                div.style.display = "block"
            } else {
                div.style.display = "none"
            }
        }
    </script>
</main>
</body>
<div th:replace="fragments/footer.html"></div>