<div th:replace="fragments/header.html"></div>

<main role="main" class="container-fluid m-f">

    <section>

        <article class="container text-white bg-windows mx-auto col-lg-8 p-2 my-3 rounded-4">

            <h1 class="titleView fs-3">Registrar Parking</h1>

            <form action="#" th:action="@{/mobile/parking/register}" method="post" th:object="${parkingRegister}"
                  onsubmit="return validateForm()" enctype="multipart/form-data">


                <div class="divContainer divContainerBorderBottom my-1">

                    <label for="parkingType" class="text-white text-bold mb-1">Seleccionar Tipo:</label>

                    <select th:field="*{parkingType}" id="parkingType" onchange="renderForms()"
                            class="form-select my-1">

                        <option value="STREET" selected>Vía Publica</option>

                        <option value="GARAGE">Estacionamiento</option>

                        <option value="POINT_SALE">Estacionamiento Medido</option>

                    </select>

                </div>

                <div class="divContainer divContainerBorderBottom my-1">

                    <label for="vehicle" class="text-white text-bold mb-1">Seleccionar Vehículo:</label>

                    <select th:field="*{vehicle}" id="vehicle"
                            class="form-select my-1">

                        <option th:each="vehicle : ${vehicleList}" th:value="${vehicle.patent}" th:text="${vehicle.brand + ' - ' + vehicle.patent}">

                            Marca - Patente

                        </option>

                    </select>

                </div>

                <div class="divContainer divContainerBorderBottom my-1">

                    <label for="vehiclePic" class="text-white text-bold mb-1">Foto del vehículo:</label>

                    <input th:field="*{vehiclePic}" id="vehiclePic" name="vehiclePic" type="file" accept="image/jpeg"
                           class="form-control my-1">

                </div>

                <div id="typeGarage" class="divContainer divContainerBorderBottom my-1" style="display:none">

                    <label for="ticketPic" class="text-white text-bold mb-1">Foto de Ticket:</label>

                    <input th:field="*{ticketPic}" id="ticketPic" type="file" accept="image/jpeg"
                           class="form-control my-1">

                </div>

                <div class="divContainer divContainerBorderBottom my-1">

                    <label for="parkingDate" class="text-white text-bold mb-1">Fecha y hora de estacionamiento:</label>

                    <input th:field="*{parkingDate}" id="parkingDate" type="datetime-local" class="form-control my-1">
                </div>

                <div id="geolocation" class="divContainer divContainerBorderBottom my-1">

                    <label for="geolocation" class="text-white text-bold mb-1">Verifica el parking:</label>

                    <input th:field="*{lat}" id="lat" class="d-none" type="text">

                    <input th:field="*{ln}" id="ln" class="d-none" type="text">

                    <div>

                        <div id="myMap" class="mapRegister" style="border-radius: 10px !important; overflow: hidden;" ></div>

                    </div>

                </div>

                <div id="pointSaleDiv" class="divContainer my-1" style="display:none">

                    <label for="pointSale" class="text-white text-bold mb-1">Tu punto de pago seleccionado:</label>

                    <input th:field="*{parkingPlaceId}" id="pointSale" class="d-none" type="text">

                    <p id="pointSaleText" th:text="'Aún no se ha seleccionado un punto de pago.'"
                       class="text-white"></p>


                    <!--Checkbox-->
                    <ul class="list-group text-shadow-none">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                   id="firstRadio" checked>
                            <label class="form-check-label" for="firstRadio">Efectivo</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                   id="secondRadio">
                            <label class="form-check-label" for="secondRadio">Tarjeta de crédito/débito</label>
                        </li>
                    </ul>

                    <!-- Modal -->
                    <div class="modal text-shadow-none" id="myModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color: black;">Tarjeta de crédito/débito</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-black">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingInput"
                                               placeholder="Nombre completo" form="dummyForm">
                                        <label for="floatingInput">Nombre completo</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="floatingNumber"
                                               placeholder="Numero de la tarjeta" form="dummyForm">
                                        <label for="floatingNumber">Numero de la tarjeta</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="expiration"
                                               placeholder="Fecha de vencimiento" maxlength="5"
                                               oninput="formatExpiration()" form="dummyForm">
                                        <label for="expiration">Fecha de vencimiento</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="floatingCod"
                                               maxlength="4" placeholder="Código de seguridad" form="dummyForm">
                                        <label for="floatingCod">Codigo de seguridad</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                                    </button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            onclick="">Aceptar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="divContainer divContainerBorderBottom my-1">

                    <div class="align-checkbox my-1">

                        <div>
                            <label for="enableAlarm" class="text-white text-bold">

                                <input th:field="*{enableAlarm}" id="enableAlarm" type="checkbox"
                                       onchange="renderAlarmDate()">
                                <span class="checkbox-label">Agregar alarma</span>
                            </label>
                        </div>
                    </div>

                    <div>
                        <div id="alarmOptions" class="divContainerBorderBottom my-1" style="display: none">
                            <label for="alarmType" id="alarmType">Seleccionar por:</label>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <input th:field="*{alarmType}" type="radio" id="byDateAndHours" name="parkingOption" value="NORMAL"
                                           onchange="renderAlarmType('NORMAL')">
                                    <label for="byDateAndHours">Fecha y hora</label>
                                </div>
                                <div>
                                    <input th:field="*{alarmType}" type="radio" id="byHours" name="parkingOption" value="AMOUNT_HS"
                                           onchange="renderAlarmType('AMOUNT_HS')">
                                    <label for="byHours">Cantidad de horas</label>
                                </div>
                                <div>
                                    <input th:field="*{alarmType}" type="radio" id="byAmount" name="parkingOption" value="AMOUNT_DESIRED"
                                           onchange="renderAlarmType('AMOUNT_DESIRED')">
                                    <label for="byAmount">Monto máximo</label>
                                </div>
                            </div>
                        </div>


                        <div id="typeDate" style="display:none">
                            <label for="alarmDate" class="text-white text-bold mb-1">Seleccione fecha y hora:</label>
                            <input th:field="*{alarmDate}" id="alarmDate" type="datetime-local"
                                   class="form-control my-1">
                        </div>


                        <div id="calculateByHours" style="display:none">
                            <label for="hours">Ingrese la cantidad de horas:</label>
                            <input th:field="*{ammountHrsAlarm}" type="number" id="hours" class="form-control my-1" onchange="calculateByHours()">
                        </div>


                        <div id="calculateByAmount" style="display:none">
                            <label for="amount">Ingrese el monto que desea gastar:</label>
                            <input th:field="*{amountDesired}" type="number" id="amount" class="form-control my-1" onchange="calculateByAmount()">
                        </div>

                        <p id="feePerHour" style="display: none;">Tarifa por hora: $ <span  id="feePerHourAmmount" type="number">0</span>.</p>
                        <p id="resultCalculated" style="display: none;">Monto calculado: $ <span id="result" type="number">0</span>.</p>
                        <p id="resultHours" style="display: none;">Cantidad de Horas: <span id="hoursTotal" type="number">0</span>.</p>
                    </div>
                </div>

                    <div class="divContainer my-3">

                        <input type="submit" value="Registrar" class="btn btn-lg btn-block rounded-4 box-shadow text-bold px-5
                 fs-6 text-center btn-primary text-white text-bold">

                    </div>

                    <div>

                        <p th:if="${error != null}" th:text="'Error ' + ${error}"></p>

                    </div>
            </form>
            <form id="dummyForm" style="display: none;"></form>
        </article>


    </section>

    <script th:inline="javascript" th:charset="UTF-8" th:src="@{/js/parkingRegister.js}"></script>

    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=initializeBingMap&key=AmmJKyxVf-6eaa2iHK_GT4J0wH58FQbLciGKGgSMYZWJSjeZ8x5Tc67SrzWnTLmQ&setLang=es'
            async defer></script>

    <script th:inline="javascript">
        const parkingPlacesData = [[${parkingPlaces}]];
        const viewName = "parking-register";
    </script>

    <script th:inline="javascript" th:charset="UTF-8" th:src="@{/js/bingMaps.js}"></script>

</main>

<div th:replace="fragments/footer.html"></div>