<div th:replace="fragments/header.html"></div>
    <main>
        <section>
            <h2 class="titleView">Vehículos</h2>
            <div th:each="vechicle : ${vehicles}">
                <p th:text="${vechicle.model + ' - ' + vechicle.patent}"></p>
                <i class="fa-solid fa-gear"></i>
            </div>
            <i class="fa-solid fa-plus"></i>
        </section>

        <section>
            <h2 class="titleView">Parkings</h2>
            <div th:each="parking : ${parkings}">
                <i class="fa-solid fa-location-dot"></i>
                <p th:text="${parking.geolocation}">ver de tomar el nombre en base a la geolocalizacion</p>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </section>
    </main>
<div th:replace="fragments/footer.html"></div>