<div th:replace="fragments/header.html"></div>
    <main role="main" class="container-fluid bg-menu-mobile">
        <section class="container mx-auto col-lg-8 p-2 my-3 rounded-4" style="color:#3F4246;">
            <section class="bg-primary" style="text-align:left">
                <h2 class="borderBottom titleViewBlack fs-3 pb-4" style="text-align:center">Retirar vehículo</h2>
                <p>Vehículo: FOX</p>
                <p>Usuario: Usuario01</p>
                <p>Cantidad de horas: 4hs</p>
                <p>Precio final: $300</p>
            </section>
        </section>
    </main>
<div th:replace="fragments/footer.html"></div>